{% extends 'layouts/bases.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">R&S TELECOM</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Application</a></li>
                    <li class="breadcrumb-item active">Comptes Rendus d'Activité</li>
                </ol>
            </div>
            <h4 class="page-title">Comptes Rendus d'Activité</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="d-grid">
                            <button class="btn btn-lg font-16 btn-danger" id="btn-new-event"><i class="mdi mdi-plus-circle-outline"></i> Comptes Rendus d'Activité</button>
                        </div>
                        <div id="external-events" class="m-t-20">
                            <br>
                            <p class="text-muted">Glissez-déposez votre événement ou cliquez dans le calendrier
                            </p>
                            <div class="external-event bg-success-lighten text-success" data-class="bg-success">
                                <i class="mdi mdi-checkbox-blank-circle me-2 vertical-middle"></i>Mission
                            </div>
                            <div class="external-event bg-info-lighten text-info" data-class="bg-info">
                                <i class="mdi mdi-checkbox-blank-circle me-2 vertical-middle"></i>Journee
                            </div>
                            <div class="external-event bg-warning-lighten text-warning" data-class="bg-warning">
                                <i class="mdi mdi-checkbox-blank-circle me-2 vertical-middle"></i>Demi-journee
                            </div>
                            <div class="external-event bg-danger-lighten text-danger" data-class="bg-danger">
                                <i class="mdi mdi-checkbox-blank-circle me-2 vertical-middle"></i>Absence
                            </div>
                        </div>
                    </div> <!-- end col-->

                    <div class="col-lg-9">
                        <div class="mt-4 mt-lg-0">
                            <div id="calendar"></div>
                        </div>
                    </div>

                </div> <!-- end row -->
            </div> <!-- end card body-->
        </div> <!-- end card -->

        <!-- Add New Event MODAL -->
        <div class="modal fade" id="event-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="needs-validation" name="event-form" id="form-event" novalidate="">
                        <div class="modal-header py-3 px-4 border-bottom-0">
                            <h5 class="modal-title" id="modal-title">Event</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body px-4 pb-4 pt-0">
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="control-label form-label">Projet</label>
                                        <input class="form-control" placeholder="" type="text" name="title" id="event-title" required="">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="control-label form-label">Category</label>
                                        <select class="form-select" name="category" id="event-category" required="">
                                            <option value="" selected="">Journee</option>
                                            <option value="">Demi-journee</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="control-label form-label">Temps</label>
                                        <select class="form-select" name="category" id="event-category" required="">
                                            <option value="" selected="">Journee</option>
                                            <option value="">Demi-journee</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" class="btn btn-danger" id="btn-delete-event">Supprimer</button>
                                </div>
                                <div class="col-6 text-end">
                                    <button type="button" class="btn btn-light me-1" data-bs-dismiss="modal">Fermer</button>
                                    <button type="submit" class="btn btn-success" id="btn-save-event">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> <!-- end modal-content-->
            </div> <!-- end modal dialog-->
        </div>
        <!-- end modal-->
    </div>
    <!-- end col-12 -->
</div>

<!-- <div id="info-header-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="info-header-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary">
                <h4 class="modal-title" id="info-header-modalLabel">Comptes Rendus d'Activité</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <form class="ps-3 pe-3" action="#">
                    <div class="row mb-3">
                        <label for="username" class="col-4 col-form-label">Projet</label>
                        <div class="col-8">
                            <input class="form-control" type="text" id="username" required="" placeholder="Michael Zenaty">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputActivite" class="col-4 col-form-label">Activité</label>
                        <div class="col-8">
                            <input class="form-control" type="text" id="inputActivite" required="" placeholder="john@deo.com">
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-4 col-form-label">Fait le</label>
                        <div class="col-8">
                            <input class="form-control" id="example-date" type="date" name="date">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="example-time" class="col-4 col-form-label">Nombre d'heures</label>
                        <div class="col-8">
                            <input class="form-control" id="example-time" type="time" name="time">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="example-select" class="col-4 col-form-label">Status RH</label>
                        <div class="col-8">
                            <select class="form-select" id="example-select" disabled>
                                <option selected>soumis</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary">Valider</button>
            </div>
        </div>
    </div>
</div> -->
<div id="info-header-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="info-header-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary">
                <h4 class="modal-title" id="info-header-modalLabel">Comptes Rendus d'Activité</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <form class="ps-3 pe-3" action="#">
                    <div class="row mb-3">
                        <label for="example-time" class="col-4 col-form-label">Absences</label>
                        <div class="col-8">
                            <select class="form-select" id="example-time">
                                <option value="0" selected>Pas de conge</option>
                                <option value="1">Conge</option>
                            </select>
                        </div>
                    </div><div class="row mb-3">
                        <label for="example-time" class="col-4 col-form-label">Mission</label>
                        <div class="col-8">
                            <select class="form-select" id="example-time">
                                <option value="0" selected>Non travailler</option>
                                <option value="0.5">Demi-journee</option>
                                <option value="1">Journee</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="example-time" class="col-4 col-form-label">Astreintes</label>
                        <div class="col-8">
                            <select class="form-select" id="example-time">
                                <option value="0" selected>Aucun astreintes</option>
                                <option value="0.5">Astreintes</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="example-time" class="col-4 col-form-label">HNOs sur site</label>
                        <div class="col-8">
                            <select class="form-select" id="example-time">
                                <option value="0" selected>Aucun</option>
                                <option value="1">HNOs</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="example-time" class="col-4 col-form-label">Autre motif</label>
                        <div class="col-8">
                            <select class="form-select" id="example-time">
                                <option value="0" selected>Aucun autre</option>
                                <option value="1">Autres</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary">Valider</button>
            </div>
        </div>
    </div>
</div>

{%endblock%}