{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="col-xxl-4 col-lg-5">
    <div class="card">
        <!-- Logo -->
        <div class="card-header pt-4 pb-4 text-center bg-primary">
            <a href="{% url 'Home'%}" class="text-light font-weight-bold">
                R&S TELECOM
            </a>
        </div>

        <div class="card-body p-4">
            
            <div class="text-center m-auto">
                <img src="{% static 'pulls/assets/images/mail_sent.svg'%}" alt="mail sent image" height="64" />
                <h4 class="text-dark-50 text-center mt-4 fw-bold">Merci de consulter vos emails</h4>
                <p class="text-muted mb-4">
                    Un e-mail a été envoyé à <b>{{email}}</b>.
                    Veuillez rechercher un e-mail de l'entreprise et cliquer sur le lien inclus pour
                    {{message}}. 
                </p>
            </div>

            <form action="{% url 'login'%}">
                <div class="mb-0 text-center">
                    <button class="btn btn-primary" type="submit"><span class="mdi mdi-login me-1"></span>Connexion</button>
                </div>
            </form>

        </div> <!-- end card-body-->
    </div>
    <!-- end card-->
    
</div>
{% endblock %}