{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="col-xxl-4 col-lg-5">
    <div class="card">
        <!-- Logo -->
        <div class="card-header pt-4 pb-4 text-center bg-primary">
            <a href="{% url 'Home'%}" class="text-light font-weight-bold">
                R&S TELECOM
            </a>
        </div>

        <div class="card-body p-4">
            
            <div class="text-center w-75 m-auto">
                <img src="assets/images/users/avatar-1.jpg" height="64" alt="user-image" class="rounded-circle shadow">
                <h4 class="text-dark-50 text-center mt-3 fw-bold">Salut ! R&S TELECOM </h4>
                <p class="text-muted mb-4">Entrez votre mot de passe pour accéder à l'administrateur.</p>
            </div>

            <form action="#">
                <div class="mb-3">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input class="form-control" type="password" required="" id="password" placeholder="Entrez votre mot de passe">
                </div>

                <div class="mb-0 text-center">
                    <button class="btn btn-primary" type="submit">Connexion</button>
                </div>
            </form>
            
        </div> <!-- end card-body-->
    </div>
    <!-- end card-->

    <div class="row mt-3">
        <div class="col-12 text-center">
            <p class="text-muted">Pas toi? retour <a href="{% url 'loginven ' %}" class="text-muted ms-1"><b>Connexion</b></a></p>
        </div> <!-- end col -->
    </div>
    <!-- end row -->

</div>
{% endblock %}