<!-- Topbar Start -->
<div class="container-fluid bg-darks px-5 d-none d-lg-block py-1">
    <div class="row gx-0">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i><a class="text-decoration-none text-light" href="https://www.google.fr/maps/place/8+Rue+des+Fr%C3%A8res+Caudron,+78140+V%C3%A9lizy-Villacoublay/@48.7811642,2.2120476,17z/data=!3m1!4b1!4m6!3m5!1s0x47e67bd9d107be2f:0xcf354b5251f88cfa!8m2!3d48.7811607!4d2.2146279!16s%2Fg%2F11c3q40ymn?entry=ttu"> 8 Rue des Frères Caudron
                    Vélizy-Villacoublay 78140, France</a></small>
                <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>01 34 63 02 34</small>
                <small class="text-light"><i class="fa fa-envelope-open me-2"></i>contact@rs-cyber.fr</small>
            </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height: 45px; ">
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://www.linkedin.com/company/rs-telecom-91/about/"><i
                        class="fab fa-linkedin-in fw-normal"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->