{% load static %}
<!-- NAVBAR -->
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a class="navbar-brand fs-3 text-light fw-bold" href="{% url 'Home' %}">
      R&S TELECOM
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li class="nav-item mx-2">
          <a class="nav-link {% if head %}active{% endif %}"
            href="{% url 'Home' %}">Accueil</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link {% if active_page == 'about' %}active{% endif %}"
            href="{% url 'about' %}">Qui nous sommes?</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link {% if active_page == 'expertise' %}active{% endif %}"
            href="{% url 'expertise' %}">Nos expertises</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link {% if active_page == 'carriere' %}active{% endif %}"
            href="{% url 'carriere' %}">Carrières</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link {% if active_page == 'contact' %}active{% endif %}"
            href="{% url 'contact' %}">Contact</a>
        </li>
        <li> <a class="get-a-quote rounded-pill " href="{% url 'login' %}">Connexion</a></li>
      </ul>
    </nav><!-- .navbar -->

  </div>
</header>
<!-- NAVBAR -->